body {
    margin: 0;
}
section {
    width: 100vmin;
    height: 100vmin;
    background-color: red;
/* background-image: url(https://images.unsplash.com/photo-1585074245728-eedb0cc44a66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGxpZ2h0bmluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
 */    margin: auto;
    font-size: 0;
}
div {
    display: inline-block;
    font-size: 20px;
    background-position: center;
    background-size: cover;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 0px 0px 14px 10px red,0px 0px 10px 13px blue;
}
article {
    height: 32vmin;
}
article:nth-of-type(2){
    margin:2vmin 0 2vmin 34vmin;
}
/* portrait time */
#number1, #number4 {
    width: 32vmin;
    height: 66vmin;
    background-image: -webkit-repeating-radial-gradient(black, red ,black,rgb(206, 192, 155),rgb(231, 219, 219),#121f07);
   
}

/* landscape time */
#number2, #number5 {
    width: 66vmin;
    height: 32vmin;
    background-image: -webkit-radial-gradient(black,red, black,rgb(206, 192, 155),rgb(233, 224, 224),#121f07);
    
}

/* individuals */
#number2 {
    margin-left: 2vmin;
}
#number3 {
    width: 32vmin;
    height: 32vmin;
    background-image: -webkit-radial-gradient(black, red,#f7f4ef,#121f07,red, rgb(235, 196, 196),black );
    margin-right: 2vmin;
    
}
/* hovering */
#number1:hover {
    background-image: url(https://images.unsplash.com/photo-1429552077091-836152271555?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlnaHRuaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
#number2:hover {
    background-image: url(https://images.unsplash.com/photo-1511149755252-35875b273fd6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGlnaHRuaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
#number3:hover {
    
    background-image: url(https://images.unsplash.com/photo-1600672202669-3521432b6302?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
}
#number4:hover {
    background-image: url(https://images.unsplash.com/photo-1504792001904-7a52bab2ec06?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
}
#number5:hover {
    background-image: url(https://images.unsplash.com/photo-1585074245728-eedb0cc44a66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGxpZ2h0bmluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
